/soundGEN/android/assets/
/soundGEN/android/bin/
/soundGEN/android/gen/
/soundGEN/android/libs/*/libsoundGEN.so
/soundGEN/android/local.properties
/build*
/soundGEN-build*

# files
Thumbs.db
soundGEN.pro.user*